Repository IbIFACE-Tech/paracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ai-instructions, validate-governance, validate-roadmap, validate-yaml

.pre-commit-config.yaml:

# Pre-commit hooks for Paracle governance validation
# Install: make pre-commit-install or: uv run pre-commit install
# Run manually: make pre-commit-run or: uv run pre-commit run --all-files

repos:
  # Local governance validation hooks
  - repo: local
    hooks:
      # Validate AI instruction files have pre-flight checklist
      - id: validate-ai-instructions
        name: Validate AI Instructions
        entry: uv run paracle validate ai-instructions
        language: system
        pass_filenames: false
        files: ^(\.cursorrules|\.parac/integrations/ide/|\.github/copilot-instructions\.md)
        
      # Validate .parac/ structure and consistency
      - id: validate-governance
        name: Validate Governance Structure
        entry: uv run paracle validate governance
        language: system
        pass_filenames: false
        files: ^\.parac/
        
      # Validate roadmap consistency
      - id: validate-roadmap
        name: Validate Roadmap Consistency
        entry: uv run paracle validate roadmap
        language: system
        pass_filenames: false
        files: ^\.parac/(roadmap/roadmap\.yaml|memory/context/current_state\.yaml)
        
      # Validate YAML syntax in .parac/
      - id: validate-yaml
        name: Validate YAML Syntax
        entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: ^\.parac/.*\.ya?ml$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^\.parac/  # Use our custom YAML validator above
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

# Configuration
default_language_version:
  python: python3.10

# Exclude patterns
exclude: |
  (?x)^(
    \.parac/memory/logs/.*|
    \.parac/memory/snapshots/.*|
    build/.*|
    dist/.*|
    .*\.egg-info/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
  )

refactor: consolidate documentation structure to content/ directory
  .claude/settings.local.json
  .github/copilot-instructions.md
  .parac/GOVERNANCE.md
  .parac/STRUCTURE.md
  .parac/memory/summaries/SANDBOX_IMPLEMENTATION.md
  content/docs/a2a-protocol-guide.md
  content/docs/agent-commands-guide.md
  content/docs/agent-groups-guide.md
  content/docs/performance-benchmarking-guide.md
  content/docs/remote-ssh-quickref.md
  content/docs/sandbox-guide.md
  content/docs/workflow-kanban-integration.md
  packages/paracle_meta/capabilities/polyglot.py
  tests/integration/test_polyglot_go.py
Due: validate-ai-instructions, validate-governance

feat: complete Week 1 & 2 remediation roadmap (P0-P1 blockers)
  .pre-commit-config.yaml
  .secrets.baseline
  content/docs/api-keys.md
  content/docs/deployment/backup-restore.md
  content/docs/deployment/disaster-recovery.md
  content/docs/deployment/environment-configuration.md
  content/docs/deployment/incident-response.md
  content/docs/deployment/monitoring-setup.md
  content/docs/deployment/performance-tuning.md
  content/docs/deployment/production-deployment.md
  content/docs/deployment/scaling-guide.md
  content/docs/deployment/secrets-management.md
  content/docs/deployment/troubleshooting.md
  content/docs/roadmap-state-sync.md
  content/docs/security/production-hardening.md
Due: none

feat: add Week 3 performance baseline testing documentation (P2)
  content/docs/testing/performance-baseline.md
Due: none

chore: update current_state.yaml - Weeks 1-3 remediation complete
  .parac/memory/context/current_state.yaml
Due: validate-governance, validate-roadmap, validate-yaml

docs: add comprehensive Week 1-3 remediation summary
  .parac/memory/summaries/REMEDIATION_ROADMAP_WEEKS_1-3_COMPLETE.md
Due: validate-governance

docs(week4): complete Day 22-23 documentation review
  .parac/memory/summaries/WEEK_4-5_OPTIONAL_POLISH_PLAN.md
  content/docs/DOCUMENTATION_REVIEW_REPORT.md
Due: validate-governance

feat(week4): complete Day 24-25 performance testing infrastructure
  content/docs/PERFORMANCE_TEST_RESULTS.md
  tests/performance/locustfile.py
  tests/performance/run-tests.ps1
  tests/performance/tests/performance/results/2026-01-18_03-12-00/01_Baseline_100users.html
  tests/performance/tests/performance/results/2026-01-18_03-12-00/02_Target_500users.html
  tests/performance/tests/performance/results/2026-01-18_03-12-00/03_Peak_1000users.html
  tests/performance/tests/performance/results/2026-01-18_03-12-00/04_Stress_2000users.html
Due: none

feat(week4): complete Day 26-28 security testing & validation
  content/docs/SECURITY_TEST_RESULTS.md
Due: none

feat(week4): complete Day 32-35 final validation & production readiness
  content/docs/PRODUCTION_READINESS_REPORT.md
Due: none

docs(security): update remediation report with actual GitHub Dependabot alerts
  content/docs/SECURITY_REMEDIATION_2026-01-18.md
Due: none

feat(security): add comprehensive security scanning workflow
  .github/workflows/security-scan.yml
Due: none

docs(security): comprehensive security policy and Dependabot improvements
  .github/dependabot.yml
  SECURITY.md
Due: none

fix(deps): upgrade pypdf to 6.6.0 - resolves 2 LOW severity CVEs
  uv.lock
Due: none

fix(security): replace python-jose with PyJWT - eliminates ecdsa vulnerability
  packages/paracle_api/security/auth.py
  pyproject.toml
  uv.lock
Due: none

fix(ci): add missing 'If Task NOT in Roadmap' validation section to IDE instruction files
  .github/copilot-instructions.md
  .parac/integrations/ide/.clinerules
  .parac/integrations/ide/.windsurfrules
  .parac/integrations/ide/CLAUDE.md
Due: validate-ai-instructions, validate-governance

fix(ci): fix IDE validation and YAML errors
  .github/copilot-instructions.md
  .parac/integrations/ide/.clinerules
  .parac/integrations/ide/.windsurfrules
  .parac/integrations/ide/CLAUDE.md
  .parac/integrations/ide/claude-code.yml
Due: validate-ai-instructions, validate-governance, validate-yaml

feat: optimize release workflow - skip OWASP for faster releases, add caching
  .github/workflows/release.yml
  PYPI_PUBLISH_GUIDE.md
  PYPI_SETUP.md
  tests/unit/test_approval.py
  tests/unit/test_cost_management.py
Due: none

fix: make quick-security non-blocking for testing
  .github/workflows/release.yml
Due: none

feat(ci): add skip_tests parameter to allow workflow testing
  .github/workflows/release.yml
Due: none

chore: add temporary badge marker file
  scripts/temp/badge-pr-1.txt
Due: none

chore: add second badge marker file
  scripts/temp/badge-pr-2.txt
Due: none
