Repository IbIFACE-Tech/paracle: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-ai-instructions, validate-governance, validate-roadmap, validate-yaml

.pre-commit-config.yaml:

# Pre-commit hooks for Paracle governance validation
# Install: make pre-commit-install or: uv run pre-commit install
# Run manually: make pre-commit-run or: uv run pre-commit run --all-files

repos:
  # Local governance validation hooks
  - repo: local
    hooks:
      # Validate AI instruction files have pre-flight checklist
      - id: validate-ai-instructions
        name: Validate AI Instructions
        entry: uv run paracle validate ai-instructions
        language: system
        pass_filenames: false
        files: ^(\.cursorrules|\.parac/integrations/ide/|\.github/copilot-instructions\.md)
        
      # Validate .parac/ structure and consistency
      - id: validate-governance
        name: Validate Governance Structure
        entry: uv run paracle validate governance
        language: system
        pass_filenames: false
        files: ^\.parac/
        
      # Validate roadmap consistency
      - id: validate-roadmap
        name: Validate Roadmap Consistency
        entry: uv run paracle validate roadmap
        language: system
        pass_filenames: false
        files: ^\.parac/(roadmap/roadmap\.yaml|memory/context/current_state\.yaml)
        
      # Validate YAML syntax in .parac/
      - id: validate-yaml
        name: Validate YAML Syntax
        entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: ^\.parac/.*\.ya?ml$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^\.parac/  # Use our custom YAML validator above
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  # Python formatting and linting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.10

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.15
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

# Configuration
default_language_version:
  python: python3.10

# Exclude patterns
exclude: |
  (?x)^(
    \.parac/memory/logs/.*|
    \.parac/memory/snapshots/.*|
    build/.*|
    dist/.*|
    .*\.egg-info/.*|
    __pycache__/.*|
    \.pytest_cache/.*|
    \.mypy_cache/.*|
    \.ruff_cache/.*
  )

feat: Update IDE/AI assistant instructions with new governance features
  .claude/CLAUDE.md
  .clinerules
  .cursorrules
  .github/copilot-instructions.md
  .parac/integrations/ide/.clinerules
  .parac/integrations/ide/.cursorrules
  .parac/integrations/ide/.windsurfrules
  .parac/integrations/ide/CLAUDE.md
  .parac/integrations/ide/_manifest.yaml
  .parac/integrations/ide/copilot-instructions.md
  .windsurfrules
  packages/paracle_core/templates/ide/base.jinja2
  packages/paracle_core/templates/ide/copilot.jinja2
Due: validate-ai-instructions, validate-governance, validate-yaml

feat: Add comprehensive governance validation system
  .pre-commit-config.yaml
  Makefile
  packages/paracle_cli/commands/validate.py
  packages/paracle_cli/main.py
  tests/governance/test_governance.py
Due: none

refactor: Infrastructure improvements and code formatting
  .github/workflows/governance.yml
  packages/paracle_core/parac/roadmap_sync.py
  packages/paracle_orchestration/approval.py
  packages/paracle_orchestration/engine.py
  tests/unit/test_orchestration_engine.py
Due: none

docs: Update governance state and documentation
  .parac/GOVERNANCE.md
  .parac/UNIVERSAL_AI_INSTRUCTIONS.md
  .parac/VALIDATION_SUCCESS.md
  .parac/manifest.yaml
  .parac/memory/context/current_state.yaml
  .parac/roadmap/decisions.md
Due: validate-governance, validate-roadmap, validate-yaml

feat: Complete v0.0.1 release preparation
  .parac/memory/context/current_state.yaml
  .parac/memory/summaries/paracle_build_workflow_summary.md
  .parac/memory/summaries/session_2026-01-05_agent_execution.md
  .parac/memory/summaries/workflow_engine_improvements.md
  .parac/memory/summaries/workflow_execution_implementation.md
  .parac/workflows/catalog.yaml
  .parac/workflows/definitions/README.md
  .parac/workflows/definitions/paracle_build.yaml
  .parac/workflows/definitions/test_ollama.yaml
  docs/agent-execution-quickref.md
  examples/07_human_in_the_loop.py
  examples/README.md
  packages/paracle_api/routers/workflow_crud.py
  packages/paracle_cli/commands/workflow.py
  packages/paracle_orchestration/__init__.py
  packages/paracle_orchestration/agent_executor.py
  packages/paracle_orchestration/dag.py
  packages/paracle_orchestration/engine.py
  packages/paracle_orchestration/workflow_loader.py
  packages/paracle_providers/anthropic_provider.py
  packages/paracle_providers/google_provider.py
  packages/paracle_providers/ollama_provider.py
  packages/paracle_providers/openai_provider.py
  tests/governance/test_governance.py
  tests/unit/test_parac_cli.py
  tests/unit/test_retry.py
Due: validate-governance, validate-roadmap, validate-yaml

feat: add releasemanager CLI commands for agent-driven git operations
  packages/paracle_cli/api_client.py
  packages/paracle_cli/commands/approvals.py
  packages/paracle_cli/commands/release.py
  packages/paracle_cli/commands/reviews.py
  packages/paracle_cli/main.py
  packages/paracle_tools/git_tools.py
  scripts/releasemanager_commit.py
Due: none

feat: implement executable tools for all agents
  .parac/agents/manifest.yaml
  .parac/memory/context/current_state.yaml
  .parac/memory/knowledge/agent_skills.md
  .parac/roadmap/roadmap.yaml
  packages/paracle_orchestration/agent_tool_registry.py
  packages/paracle_orchestration/tool_executor.py
  packages/paracle_tools/__init__.py
  packages/paracle_tools/architect_tools.py
  packages/paracle_tools/coder_tools.py
  packages/paracle_tools/documenter_tools.py
  packages/paracle_tools/pm_tools.py
  packages/paracle_tools/releasemanager_tools.py
  packages/paracle_tools/reviewer_tools.py
  packages/paracle_tools/tester_tools.py
  scripts/fix_tool_init.py
Due: validate-governance, validate-roadmap, validate-yaml

refactor: extract MCP tools to separate paracle_mcp package
  .parac/agents/manifest.yaml
  .parac/agents/skills/tool-integration/SKILL.md
  .parac/memory/context/current_state.yaml
  .parac/roadmap/decisions.md
  README.md
  docs/mcp-integration.md
  packages/paracle_cli/commands/agents.py
  packages/paracle_cli/commands/release.py
  packages/paracle_cli/commands/tools.py
  packages/paracle_cli/main.py
  packages/paracle_mcp/__init__.py
  packages/paracle_mcp/client.py
  packages/paracle_mcp/registry.py
  packages/paracle_orchestration/agent_tool_registry.py
  packages/paracle_orchestration/skill_loader.py
  packages/paracle_orchestration/tool_executor.py
  packages/paracle_tools/__init__.py
  packages/paracle_tools/architect_tools.py
  packages/paracle_tools/coder_tools.py
  packages/paracle_tools/documenter_tools.py
  packages/paracle_tools/git_tools.py
  packages/paracle_tools/pm_tools.py
  packages/paracle_tools/releasemanager_tools.py
  packages/paracle_tools/reviewer_tools.py
  packages/paracle_tools/tester_tools.py
  scripts/fix_tool_init.py
  scripts/git_commit_automation.py
  scripts/releasemanager_commit.py
  tests/unit/test_mcp_registry.py
Due: validate-governance, validate-roadmap, validate-yaml

docs: update roadmap, ADRs, and logs with tool implementation and MCP refactoring
  .parac/memory/context/current_state.yaml
  .parac/roadmap/decisions.md
  .parac/roadmap/roadmap.yaml
Due: validate-governance, validate-roadmap, validate-yaml

docs: update roadmap to reflect v1.0.0 actual release
  .roadmap/ROADMAP_GLOBALE.yaml
Due: none

fix(ci): upgrade uv setup action from v1 to v4
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/governance.yml
  .github/workflows/maintain-parac.yml
  packages/paracle_tools/release_tools.py
Due: none

fix(ci): upgrade upload-artifact from v3 to v4
  .github/workflows/benchmark.yml
Due: none

fix(ci): migrate to google-genai and fix benchmark baseline
  .github/workflows/benchmark.yml
  packages/paracle_providers/auto_register.py
  packages/paracle_providers/google_provider.py
  pyproject.toml
  uv.lock
Due: none

fix(ci): update maintain-parac workflow to use paracle CLI
  .github/workflows/maintain-parac.yml
Due: none

fix(ci): use correct path for auto-maintain.py script
  .github/workflows/maintain-parac.yml
Due: none

fix(ci): add permissions for PR comments in maintain-parac workflow
  .github/workflows/maintain-parac.yml
Due: none

fix(ci): add bandit and safety to dev dependencies
  pyproject.toml
  uv.lock
Due: none

fix(ci): add permissions for benchmark PR comments
  .github/workflows/benchmark.yml
Due: none

fix(ci): make security scans advisory only
  .github/workflows/ci.yml
Due: none

fix(tests): add missing policies/policy-pack.yaml to test fixtures
  tests/unit/test_ide_integration.py
Due: none

fix(scripts): replace bare except with specific exception types
  scripts/create_icon.py
Due: none

feat: add error management, inventory, and MCP API bridge with documentation
  .github/agents/coder.agent.md
  .parac/agents/specs/coder.md
  .parac/memory/context/current_state.yaml
  .parac/memory/data/costs.db
  .parac/memory/data/kanban.db
  .parac/memory/data/locks/dd18bf3a8e0a2a3e53e2661c7fb53534.lock
  .parac/memory/data/meta_costs.db
  .parac/memory/data/meta_learning.db
  .parac/memory/knowledge/error_management.md
  .parac/memory/knowledge/mcp_coverage_analysis.md
  .parac/memory/knowledge/services_inventory.md
  .parac/memory/summaries/ADR-022-implementation-summary.md
  .parac/roadmap/decisions.md
  .parac/roadmap/roadmap.yaml
  SECURITY.md
  content/examples/tools/test_github_cli.py
  docs/mcp-full-coverage.md
  docs/mcp-quick-reference.md
  packages/paracle_api/security/auth.py
  packages/paracle_cli/api_client.py
  packages/paracle_cli/commands/board.py
  packages/paracle_cli/commands/errors.py
  packages/paracle_cli/commands/inventory.py
  packages/paracle_cli/commands/task.py
  packages/paracle_cli/main.py
  packages/paracle_conflicts/lock.py
  packages/paracle_mcp/__init__.py
  packages/paracle_mcp/api_bridge.py
  packages/paracle_mcp/server.py
  packages/paracle_orchestration/context.py
  packages/paracle_tools/tester_tools.py
  packages/paracle_transport/ssh.py
  tests/governance/test_governance.py
  tests/test_transport.py
  tests/unit/governance/test_auto_logger.py
  tests/unit/governance/test_state_manager.py
  tests/unit/test_conflicts_resolution.py
  tests/unit/test_ide_integration.py
  tests/unit/test_mcp_api_bridge.py
  tests/unit/test_yolo_mode.py
Due: validate-governance, validate-roadmap, validate-yaml

fix(agents): deduplicate skills in reviewer.agent.md (29â†’11 unique)
  .github/agents/reviewer.agent.md
Due: none

feat(orchestration): add bidirectional workflow-kanban integration
  packages/paracle_orchestration/kanban_integration.py
Due: none

docs(examples): add workflow-kanban integration demos
  content/examples/24_workflow_kanban_integration.py
  content/examples/24b_workflow_backlog_demo.py
Due: none

docs: add comprehensive workflow-kanban integration guide
  docs/workflow-kanban-integration.md
Due: none

feat(meta): integrate plan and edit modes into chat session
  packages/paracle_meta/sessions/__init__.py
  packages/paracle_meta/sessions/chat.py
Due: none

feat: Complete Phase 10 unfinished features (v1.0.0/v1.1.0/v1.3.0)
  .parac/memory/data/costs.db
  SANDBOX_IMPLEMENTATION.md
  content/docs/meta/health.md
  content/examples/25_sandbox_basics.py
  content/examples/26_performance_benchmarking.py
  docker/README.sandbox.md
  docs/a2a-protocol-guide.md
  docs/agent-commands-guide.md
  docs/agent-groups-guide.md
  docs/performance-benchmarking-guide.md
  docs/remote-ssh-quickref.md
  docs/sandbox-guide.md
  packages/paracle_cli/commands/agents.py
  packages/paracle_cli/commands/sandbox.py
  packages/paracle_cli/main.py
  packages/paracle_meta/__init__.py
  packages/paracle_meta/capabilities/__init__.py
  packages/paracle_meta/capabilities/audio.py
  packages/paracle_meta/capabilities/browser.py
  packages/paracle_meta/capabilities/cloud.py
  packages/paracle_meta/capabilities/container.py
  packages/paracle_meta/capabilities/database.py
  packages/paracle_meta/capabilities/document.py
  packages/paracle_meta/capabilities/image.py
  packages/paracle_meta/capabilities/multi_language_execution.py
  packages/paracle_meta/capabilities/notification.py
  packages/paracle_meta/capabilities/paracle_integration.py
  packages/paracle_meta/capabilities/polyglot.py
  packages/paracle_meta/capabilities/scheduler.py
  packages/paracle_meta/health.py
  packages/paracle_meta/sessions/chat.py
  packages/paracle_sandbox/__init__.py
  packages/paracle_sandbox/executor.py
  pyproject.toml
  tests/unit/test_multi_language_execution.py
  tests/unit/test_paracle_integration.py
  tests/unit/test_sandbox.py
  uv.lock
Due: validate-governance
